* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu-left, .menu-right {
    flex: 1 1 50%; /* Allow both sections to shrink and grow equally */
}


.menu-outer {
    display: flex;
    min-height: auto;
    height: 70vh;
    
}

.upper-left{
    display: flex;
    flex-grow: 1;
    height: auto;
    min-width: 100%;
}

#header-logo {
    flex-direction: row;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
    margin-left: 4rem;
    color: #f9faf8;
    font-size: clamp(1rem, 2vw, 2rem);
    margin-bottom: auto;
    margin-top: auto;
 
    

}


.menu-left {
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    flex-grow: 1;
    font-family: 'Roboto';
}

.menu-right {
    display: flex;
    background-color: #1F2937;
    border-color: cyan;
    flex-grow: 1;
    flex-wrap: wrap;
}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    height: auto;
    max-height: auto;
    
}


.signup-text {
    display: flex;
    height: auto;
    font-size: clamp(1.25rem, 1vw, 3rem);
    color: #e5e7eb;
}

.big-signup {
    display: flex;
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: #f9faf8;
    font-weight: 900;
}

.signup-button {
    display: flex;
    width: auto;
    min-width: 15%;
    max-width: 100%;
    justify-content: center;
    border-radius: 8px;
    margin-top: 0;
    align-self: flex-start;
    height: 5vh;
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    font-family: 'Roboto';
    font-weight: bold;
    flex-direction: column;
}


.menu-links {
    display: flex;
    margin-top: 3vh;
    max-height: 4vh;;
    flex-grow: 1;
}

.menu-links > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-grow: 1;
    gap: 1.5625vw;
    align-self: center;
    color: #e5e7eb;
    height: 2.9027576197387517vh;
    margin-right: 7.8125vw;
    font-family: 'Roboto';
}

.image-box {
    display: flex; /* Enables Flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    margin: auto;
    height: auto;
    min-height: 30vh;
    width: 35vw;
    object-fit: cover;
    background-color: #e5e7eb;
    font-family: 'Roboto';
}

.middle-web {
    display: flex;
    height: 61.828737300435414vh;
    flex-wrap: wrap;
}

.middle-title {
    display: flex;
    margin-bottom: -10px;
    width: 100%;
    height: 14.513788098693759vh;
    font-family: 'Roboto';
    font-size: 2.25em;
    color: #1f2937;
    font-weight: 900;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.box-container {
    display: flex;
    gap: 60px;
    flex-grow: 1;
    height: 400px;
    border-color: red;
    justify-content: center;
}

figure > .box-random {
    display: flex;
    border: solid;
    height: 140px;
    width: 150px;
    border-radius: 8px;
    border-color: #3882f6;
}

figcaption {
    display: flex;
    width: 150px;
    color: #1f2937;
    text-align: center;
    font-family: 'Roboto';
    margin-top: 6px;
}

.second-middle {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    font-size: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #1f2937;
    width: 140vh;
    font-style: italic;
}

.author {
    display: flex;
    margin-left: 100vh;
    font-size: 26px;
    font-family: Roboto;
    font-weight: 900;
}

.third-middle {
    display: flex;
    height: 45vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-box {
    display: flex;
    background-color: #3882f6;
    width: 140vh;
    height: 20vh;
    border-radius: 6px;
}

.blue-box > .blue-left {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text {
    display: flex;
    width: 50vh;
    color: #f9faf8;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 70vh;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
}

.small-text {
    display: flex;
    color: #f9faf8;
    width: 70vh;
    font-size:14px;
    font-family: 'Roboto';
}

.blue-box > .blue-right {
    display: flex;
    width: 30vh;
    min-width: 30vh;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.button-third {
    display: flex;
    width: 15vh;
    text-align: center;
    justify-content: center;
    padding: 0.75vh;
    background-color: #3882f6;
    border: solid;
    border-radius: 8px;
    border-width: 0.125rem;
    border-color: #f9faf8;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color: #f9faf8;
}

.copyright-bottom {
    display: flex;
    height: 10vh;
    background-color: #1f2937;
    
}

.copyright-text {
    display: flex;
    font-family: 'Roboto';
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    color: #f9faf8;
}