* {
    margin: 0;
}

.menu-outer {
    display: flex;
    height: 65vh;
}

#header-logo {
    flex-direction: row;
    width: 400px;
    margin-left: 100px;
    color: #f9faf8;
    font-size: 24px;
    margin-bottom: 100px;
    margin-top: 24px;

}


.menu-left {
    display: flex;
    background-color: #1F2937;
    border-color: red;
    flex-wrap: wrap;
    flex-grow: 1;
    min-width: 50%;
    font-family: 'Roboto';
}

.menu-right {
    display: flex;
    background-color: #1F2937;
    border-color: cyan;
    flex-grow: 1;
    min-width: 50%;
    flex-wrap: wrap;
}

.signup-box {
    display: flex;
    width: 450px;
    margin-left: 100px;
    flex-wrap: wrap;
}


.signup-text {
    font-size: 18px;
    color: #e5e7eb;
    width: 450px;
    height: 100px;
    margin-top: -110px;
}

.big-signup {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.signup-button {
    display: flex;
    width: 125px;
    justify-content: center;
    border-radius: 8px;
    margin-top: -145px;
    height: 35px;
    background-color: #3882f6;
    border-color: #3882f6;
    color: #f9faf8;
    font-family: 'Roboto';
    font-weight: bold;
    flex-direction: column;
}

.signup-box {
    height: 450px;
}

.menu-links {
    display: flex;
    border-color: green;
    width: 523px;
    flex-direction: row;
    margin-top: 24px;
    height: 29px;
    max-height: 29px;
    flex-grow: 1;
}

.menu-links > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-grow: 1;
    gap: 20px;
    align-self: center;
    color: #e5e7eb;
    height: 20px;
    margin-right: 100px;
    font-family: 'Roboto';
}

.image-box {
    display: flex; /* Enables Flexbox layout */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    margin-top: -122px;
    height: 226px;
    max-height: 226px;
    width: 530px;
    background-color: #e5e7eb;
    font-family: 'Roboto';
}

.middle-web {
    display: flex;
    height: 425px;
    flex-wrap: wrap;
}

.middle-title {
    display: flex;
    margin-bottom: -10px;
    width: 100%;
    height: 100px;
    font-family: 'Roboto';
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.box-container {
    display: flex;
    gap: 60px;
    flex-grow: 1;
    height: 400px;
    border-color: red;
    justify-content: center;
}

figure > .box-random {
    display: flex;
    border: solid;
    height: 140px;
    width: 150px;
    border-radius: 8px;
    border-color: #3882f6;
}

figcaption {
    display: flex;
    width: 150px;
    color: #1f2937;
    text-align: center;
    font-family: 'Roboto';
    margin-top: 6px;
}

.second-middle {
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    font-size: 36px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #1f2937;
    width: 140vh;
    font-style: italic;
}

.author {
    display: flex;
    margin-left: 100vh;
    font-size: 26px;
    font-family: Roboto;
    font-weight: 900;
}

.third-middle {
    display: flex;
    height: 45vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-box {
    display: flex;
    background-color: #3882f6;
    width: 140vh;
    height: 20vh;
    border-radius: 6px;
}

.blue-box > .blue-left {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.big-text {
    display: flex;
    width: 50vh;
    color: #f9faf8;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    width: 70vh;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
}

.small-text {
    display: flex;
    color: #f9faf8;
    width: 70vh;
    font-size:14px;
    font-family: 'Roboto';
}

.blue-box > .blue-right {
    display: flex;
    width: 30vh;
    min-width: 30vh;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.button-third {
    display: flex;
    width: 15vh;
    text-align: center;
    justify-content: center;
    padding: 0.75vh;
    background-color: #3882f6;
    border: solid;
    border-radius: 8px;
    border-width: 0.125rem;
    border-color: #f9faf8;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    color: #f9faf8;
}